<section id="upload">
  <h1>
    Discover Taboo Verbs<br>
    Fix Passive Voice<br>
    Write Better Essays<br>
    <%= link_to "Upload Your Essay Now", essays_path, class: "btn btn-primary btn-large btn-super" %>
  </h1>
  <div id="upload-btn">

  </div>
</section>





 <p>
	 <%= link_to "Teachers Sign Up Now for future news about our future Updates!", new_user_registration_path %>
</p>

