<h1>TO BE VERBS</h1>
<p>
	<ul>
		<li>Is</li>
		<li>I’m</li>
		<li>am</li>
		<li>are</li>
		<li>was</li>
		<li>were</li>
		<li>have</li>
		<li>has</li>
		<li>had</li>
		<li>may</li>
		<li>can</li>
		<li>could</li>
		<li>should</li>
		<li>would</li>
		<li>be</li>
		<li>become</li>
		<li>became</li>
		<li>may be</li>
		<li>can be</li>
		<li>could be</li>
		<li>should be</li>
		<li>would be</li>
		<li>do</li>
		<li>did</li>
		<li>does</li>
		<li>has been</li>
		<li>had been</li>
		<li>(any “to be” verb)</li>
		<li>would of</li>
		<li>could of</li>
		<li>should of</li>
		<li>might of</li>
		<li>kind of</li>
		<li>sort of</li>
		<li>seems</li>
		<li>might</li>
		<li>get</li>
		<li>got</li>
		<li>go</li>
		<li>goes</li>
		<li>comes</li>
		<li>I</li>
		<li>me</li>
		<li>my</li>
		<li>mine</li>
		<li>we</li>
		<li>us</li>
		<li>our</li>
		<li>you</li>
		<li>yours</li>
		<li>pretty much</li>
		<li>end up</li>
		<li>alright</li>
		<li>very</li>
		<li>like</li>
		<li>want</li>
		<li>wants</li>
		<li>Present Tense</li>
		<li>I am We are</li>
		<li>You are You are</li>
		<li>He/She/It is They are</li>
		<li>Past Tense</li>
		<li>I was We were</li>
		<li>You were You were</li>
		<li>He/She/It was They were</li>
		<li>Perfect Form (past participle)</li>
		<li>I have been, etc.</li>
		<li>Progressive Form (present participle)</li>
		<li>I am being, etc.</li>
		<li>ANY PRESENT Tense Active Verbs!</li>
	</ul>
</p>
