<h1>Introduction to “To Be Verbs”</h1>

TO BE VERBS are passive static vague verbs that should be limited if not eliminated from your writing and ACTIVE 
VERBS should be used as much as possible. When a writer uses a TO BE VERB they are simply saying that a subject, 
object, or condition simply exists. Saying something exists is accurate yet it can be repetitive, wastes space, and 
detracts from the readers time. ACTIVE VERBS illustrates the existence of the person, thing, or condition that is 
being written about without bluntly stating the obvious fact of its existence. Your writing should be as descriptive 
and illustrative as possible.  

<h2>Example 1:</h2>
<p>
Inadequate: Xander was driving the utility truck to collect trinkets from the utility trinket outlet. 

Adequate: Xander drove the utility truck to collect trinkets from the utility trinket outlet. 
</p>

<h2>Example 2:</h2>
<p>
Inadequate: Xander was mad when he discovered that his trinkets had been partially destroyed by the rain.

Adequate: Xander kicked and screamed in frustration as he surveyed the partial destruction of his trinkets by the rain.
<p>

<h2>Example 3:</h2>
<p>
Inadequate: The broken window seemed to confirm that the cause of Xanders missing trinkets had been a robber, 
yet he became suspicious of the gleam in his cat’s eyes. 

Adequate: Theft by an Unknown Robber pointed toward the cause of Xanders missing trinkets. Yet the gleam in his 
cat’s eyes roused suspicions deep inside of him. 
</p>

<p>
Example 2 and Example 3 illustrates that revising the sentence is usually much easier than simply trying to replace 
the To Be Verb with another verb. If you spot a To Be Verb in your sentence that can’t easily be replaced with 
another verb. Then immediately revise the sentence since trying to force another verb in the place of a To Be Verb 
will usually lead to an awkward sentence. 
</P>


<h3>Horrible</h3>
<p>
	Xander lost his trinket which caused him to become upset.
</p>

<h3>Better</h3>
<p>
	Xander lost his trinket which caused him to feel upset.
</p>

<h3>Best</h3>
<p>
	Xander stormed through the complex scowling when he concluded that he lost his trinket.
</p>