<ul class="inline">
	<li><%= link_to "What Are Taboo Verbs", whataretobeverbs_path %></li>
	<li><%= link_to "List of To Be Verbs", listoftobeverbs_path %></li>
</ul>

<h1> TO BE VERB Workshop</h1>

<h2>Practice</h2>

<h5>Select a verb to replace the “To be Verbs” that are illustrated in the problems below.</h4>
<p>
	<h4>1. Xander was crafting a trinket to impress Helga and to implore his affection upon her maiden hood.</h4>
</P>
<p>
	<ul>
		<li>a. had crafted</li>
		<li>b. crafted</li>
		<li>c. became</li>
		<li>d. is crafting</li>
		<li>e. None of the Above</li>
	</ul>
</p>
<p>
	<h4>2. Xander became jealous of Xaviors Golden Trinket Collection when he attended the trinket convention in Salem.</h4>
</p>
<p>
	<ul>
	    <li>a. grew jealous</li>
	    <li>b. was jealous</li>
	    <li>c. became jealous</li>
	    <li>d. became green eyed</li>
	</ul>
</p>
<p>
	<h4>3. Xander’s face was full of discontent. His recently crafted trinket was a disgrace. He thought about
	   throwing the trinket against the wall.</h4>
       <h5>What is the TO BE VERB in this sentence?</h5>
       <ul>
       		<li>a. Thought</li>
       		<li>b. throwing</li>
       		<li>c. was</li>
       		<li>d. crafted</li>
       </ul>
</p>
<p>
	<h4>4. The trinket was crafted by Xander.</h4>
	<h5>What is the best revision below that will turn this Passive Voice TO BE VERB sentence into an Active
	Voice sentence that is unburdened by TO BE VERBS?</h5>
	<ul>
		<li>a. Xander is a crafter that crafted this trinket.</li>
		<li>b. The trinket became crafted by Xander.</li>
		<li>c. The trinket seems to have been crafted by Xander</li>
		<li>d. Xander crafted the trinket.</li>
	</ul>
</p>
<p>
	<h4>5. It is believed by the Grand Masters that Xander should be elevated by the Order of Trinketing to the rank
	of Tier 6 Trinket Apprentice.</h4>
	<h5>What is the best revision below that will turn this Passive Voice TO BE VERBS sentence into an Active
	Voice sentence that is unburdened by TO BE VERBS?</h5>
	<ul>
		<li>a. The Grand Masters believe that the Order of Trinketing should elevate Xander to the rank of Tier 6
		Trinket Apprentice.</li>
		<li>b. It seems that the common belief among the Grand Masters of the Order of Tinketing is that Xander
		should be raised to the rank of Tier 6 Trinket Apprentice.</li>
		<li>c. The Grand Masters sort of feel that Xander should be a Tier 6 Trinket Apprentice and may be they will
		ask the Order of Trinketing to rank Xander up.</li>
		<li>d. None of the Above.</li>
</ul>
</p>