<div class="footer navbar-fixed-bottom container">
  <small class="muted pull-left">
    Copyright © 2013 John Nuccio & Derek Fidler</p>
  </small>
  <nav class="pull-right">
    <ul class="inline">
      <li><small><a href="#">Privacy Policy</a></small></li>
      <li><small><a href="#">About</a></small></li>
    </ul>
  </nav>
</div>