<h1>Listing essays</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <%= render @essays %>
  </tbody>

</table>

<br />

<%= link_to 'New Essay', new_essay_path %>
