<div class="row">
    <div class="span6 offset3">
        <div class="well">
            <p>
              <%= @essay.description %>
            </p>
            <% if current_user == @essay.user %>
	            <%= link_to 'Edit', edit_essay_path(@essay) %> |
	            <%= link_to 'Back', essays_path %>
            <% end %>
        </div>
    </div>
</div>